.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 0;
  width: 100%;
}

.home {
  height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.signin h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.signinFrm {
  width: 480px;
  padding: 0 10px;
}